// src/styles/_variables.scss

:root {
  --primary-color: steelblue    ;
  --secondary-color: #6c757d   ;
  --background-color: #f8f9fa  ;
  --text-color: #fff   ;
}


// Font sizes
$header-font-size: 1.3rem; 
$menu-font-size: 1.1rem;
