#root {
  margin: 0px;
  color: white;
  background-image: url('../src/assets/bg.png');
  background-size: cover;
  box-shadow: inset 0px 0px 1px 2px;
}
.main {
  padding:0 4rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 1;
}
.sectionHeader{
  box-shadow: #547 1px 2px 2px;
}
section {
  scroll-margin-top: 60px;
}
